    #logo {}

    body {
        background-color: #ffffff;
    }

    #total-orders {

        background-color: #75c8d6;
    }

    #total-products {

        background-color: #86ccda;
    }

    #total-orders {
        background-color: #73c5b5;

    }